# IDE
.idea
.vscode

# Config
.env
.env.core_backend
.env.marketplace

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

.DS_Store
godepgraph.png
bin/

# Google cloud
service-account-file*.json
google-application-credentials*.json
cloudbuild.yaml
*credential.json

node_modules

# ingore NFT build files
internal/core_backend/contracts/*/build/